.home-title {

    font-size: 40px !important;

}

.dark-bg {
    position: absolute;
    left: 50%;
    right: 50%
    transform: translate (-50%, -50%);
    /* margin: 30px auto !important; */

}

.inside-box {

        padding: 5% 10% !important;
}

.f-passw {

    color: #354c57 !important;

}

.f-passw:hover {

    color: #2d627b !important;
    text-decoration: underline;
    
}


.f-passw:hover {

    color: #4d626b;

}

.input {

    opacity: 0;

}

button.butao {

    width: 200px !important;
    border-radius: 100px !important;
    background-color: #223843 !important;
    color: white;

}

button.butao:hover {

    width: 200px !important;
    border-radius: 100px !important;
    background-color:  white !important;
    color: #223843;

}

.mt10 { 
    margin-top: 10px !important ;
}

.mt15 { 
    margin-top: 15px !important ;
}

.mt20 { 
    margin-top: 20px !important ;
}

.mt25 { 
    margin-top: 20px !important ;
}

.mt30 { 
    margin-top: 30px !important ;
}

.mt40 { 
    margin-top: 40px !important ;
}

.mt50 { 
    margin-top: 50px !important ;
}

.mt60 { 
    margin-top: 60px !important ;
}

.mt70 { 
    margin-top: 70px !important ;
}

.mt80 { 
    margin-top: 80px !important ;
}

.mt90 { 
    margin-top: 90px !important ;
}

.mt100 { 
    margin-top: 100px !important ;
}

.diary-button {

    padding: 0.5% 1% !important;
    margin: 10% 25%;
    height: 50px !important;
    width: 50% !important;
    background-color:#223843;
    color: white;
    border-radius: 10px !important;
}

